/venv
/output
/__pycache__
**/__pycache__
*/build
/model
/image
/submodules
/config
/memory
/dist
/build
/legacy
/archive
/files
/pretrained_models
/@move

*.pth
*.gguf
*.onnx
*.spec
*.log
*.ckpt
*.exe
*.wav
*.txt
*.pyc
/legacy
/voices
/log
/model
/test
.vscode

kei.py

output.wav
temp.py
temp1.py
temp2.py
temp3.py
temp4.py
temp.json
tempCodeRunnerFile.py
snipet.py
